.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.raleway-body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

.navbar-brand {
    font-family: "Poetsen One", sans-serif;
}

#navbarNav {
    flex-direction: row-reverse;

}

h2 {
    text-align: center;
}

body {
    font-family: "Raleway", sans-serif;

    
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 5px white;
  }

.quienes-somos {
    color: white;
    background-color: black;
    padding: 30px 100px;
}

#quienes-somos-texto {
    padding-top: 25px;
}

.quienes-somos i {
    background-color: #04D4F0;
    width: 400px;
}

.destacados {
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: black;
    padding: 30px 100px;
}

div.col > div.card {
    background-color: #04D4F0;
    color: white;
}

.contacto {
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: black;
    padding: 40px 100px; 
                       
}

footer {
    background-color: #04D4F0;
    color: white;
    height: 100px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

footer .navbar-brand {
    float: left;
    font-size: 1rem;
    vertical-align: middle;
    padding: 25px 10px;
    
}

footer .navbar-brand img{
    vertical-align: middle;
    padding-top: 0px;
}

footer .rrss i{
    padding: 10px;

}

.texto {
    font-size: 16px;
    transition: font-size 0.5s ease;
}

.texto.grande {
    font-size: 24px;
}

.brand-hover {
    font-size: 1.5rem;
    font-family: "Poetsen One", sans-serif;
    transition: font-size 0.5s ease;
}

.brand-hover:hover {
    font-family: "Poetsen One", sans-serif;
    font-size: 1.7rem;
}

.brand-hover img {
    width: 30px;
    height: 24px;
    transition: transform 0.3s ease;
}

.brand-hover:hover img {
    transform: scale(1.5);
}

.footer-brand-hover {
    font-size: 1.5rem;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.footer-brand-hover img {
    width: 30px;
    height: 24px;
    transition: transform 0.3s ease;
}

.footer-brand-hover:hover {
    font-size: 1.7rem;
}

.footer-brand-hover:hover img {
    transform: scale(1.5);
}

.social-icon {
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}